<div class="row">
  <div class="col-md-12">
    <br />
    <h2>Courses
      <a href="/courses/add" class="btn btn-success float-right">Add New
        Course</a>
    </h2>
    <hr />
    {{#if courses}}
    <div class="table-respnsive">
      <table class="table">
        <tr>
          <th>Course Code</th>
          <th>Course Description</th>
          <th>Delete</th>
        </tr>
        {{#each courses}}
        <tr>
          <td><a href="/course/{{this.courseId}}" style="color: rgb(57, 53, 53) !important;">{{this.courseCode}}</a>
          </td>
          <td><a href="/course/{{this.courseId}}"
              style="color: rgb(57, 53, 53) !important;">{{this.courseDescription}}.</a></td>
          <td><a href="/course/delete/{{courseId}}" class="btn btn-danger">Remove</a></td>

        </tr>
        {{/each}}
      </table>
    </div>
    {{/if}}
    {{#unless courses}}
    <div class="col-md-12">
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    </div>
    {{/unless}}
  </div>
</div>