<div>
  <div>
    <br />
    <h2>Students
      <a href="/students/add" class="btn btn-success float-right">Add New Student</a>
    </h2>
    <hr />
    {{#if students}}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Student Num</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Course ID</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
          <tr>
            <td>{{studentNum}}</td>
            <td><a href="/student/{{studentNum}}" style="color: rgb(5, 5, 9) !important;">{{firstName}} {{lastName}}</a></td>
            <td><a href="mailto:{{email}}" style="color: rgb(53, 53, 209) !important;">{{email}}</a></td>
            <td>{{addressStreet}}, {{addressCity}}, {{addressProvince}}</td>
            <td>{{status}}</td>
            <td><a href="/students?course={{course}}" style="color:  rgb(5, 5, 9) !important;">{{course}}</a></td>
            <td><a href="/students/delete/{{studentNum}}" class="btn btn-danger">Remove</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    <div class="col-md-12">
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    </div>
    {{/if}}
  </div>
</div>
